header{
    background-color: #2C3E50;
    color: #fff;
}

nav{
    background-color: transparent!important;
    color: #fff;
}

._color-bianco{
    color: #fff!important;
}

.navbar-collapse{
    flex-basis: 0;
    flex-grow: 0;
}

section,footer{
    padding: 20px 0;
}

footer{
    padding-bottom: 0;
}

section:nth-child(odd){
    color: #fff;
    background-color: #1ABC9C;
}

#informazioni img{
    height: 200px;
}

button{
    color: #fff!important;
    border-color: #fff!important;
}

footer{
    background-color: #3A546D;
    color: #fff;
}

._div_circle{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

._container_stella{
    text-align: center;
}

._container_stella::after{
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    margin-bottom: 15px;
    background-color: #fff;
}

._container_stella::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    margin-bottom: 15px;
    background-color: #fff;
}

._stella{
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
}

#contatti ._stella,#portfolio ._stella {
    color: #000;
}

#portfolio ._container_stella::before{
    content: '';
    background-color: #000;
}

#portfolio ._container_stella::after{
    content: '';
    background-color: #000;
}

#contatti ._container_stella::before{
    content: '';
    background-color: #000;
}

#contatti ._container_stella::after{
    content: '';
    background-color: #000;
}

._footer{
    background-color: #2C3E50;
}